<div class="body">

    <header>
        <nav class="navbar">
            <span class="material-symbols-rounded menu-btn" (click)="toggleMenu()">notes</span>

            <div class="side-menu" [class.active]="menuOpen">

                <a routerLink="/page_user" class="logo-full">
                    <img src="/images/logo.png" alt="logo">
                    <p>e-Contribuable</p>
                </a>
                
                <div>
                    <p>NAVIGATION</p>
                    <a routerLink="/page_user" class="link">
                        <span class="material-symbols-rounded nav-btn">home</span>
                        <span>Accueil</span>
                    </a>
                </div>

                <div>
                    <p>RECLAMATIONS</p>

                    <a routerLink="/submit_rec" class="link">
                        <span class="material-symbols-rounded nav-btn">add_circle</span>
                        <span>Soumettre une réclamation</span>
                    </a>

                    <a routerLink="/consult_rec" class="link selected">
                        <span class="material-symbols-rounded nav-btn">search</span>
                        <span>Consulter vos réclamations</span>
                    </a>
                </div>

            </div>

            <div class="overlay" [class.active]="menuOpen" (click)="closeMenu()"></div>

            <a routerLink="/page_user" class="logo">
                <img src="/images/logo.png" alt="logo">
                <p>e-Contribuable</p>
            </a>
            <div class="btn">
                <span class="material-symbols-rounded notif-btn" (click)="toggleNotifs()">notifications</span>
                <span class="material-symbols-rounded settings-btn" (click)="toggleSettings()">settings</span>
            </div>

            <div class="dropdown notifs" [class.active]="notifsOpen">

                <div *ngIf="notifications.length === 0 && notifications_read.length === 0" class="empty">
                    Aucune notification
                </div>

                <ul *ngIf="notifications.length > 0">
                    <li *ngFor="let notif of notifications" (click)="markAsRead(notif)" class="not_unread">
                        <div class="notif-content">{{ notif.content }}</div>
                        <div class="notif-date">{{ notif.date | date:'short' }}</div>
                    </li>
                </ul>

                <ul *ngIf="notifications_read.length > 0">
                    <li *ngFor="let notif of notifications_read" (click)="markAsRead(notif)" class="not_read">
                        <div class="notif-content">{{ notif.content }}</div>
                        <div class="notif-date">{{ notif.date | date:'short' }}</div>
                    </li>
                </ul>
            </div>

            <div class="dropdown settings" [class.active]="settingsOpen">
                <div class="user">
                    <p>{{this.displayName}}</p>
                </div>
                <div class="setting">
                    <div class="param" (click)="goProfile()">
                        <span class="material-symbols-rounded">account_circle</span>
                        <p>Profil</p>
                    </div>

                    <div class="param" (click)="logout()">
                        <span class="material-symbols-rounded logout-btn" (click)="logout()">logout</span>
                        <p>Se déconnecter</p>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <div class="content-wrapper">
        <p>
            Réclamations / <strong>Consulter vos réclamations</strong>
        </p>
        <table class="content-container" *ngIf="reclamations.length > 0; else noReclamations">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Objet</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td>{{row.rec.id}}</td>
                    <td>{{ row.rec.objet }}</td>
                    <td class="status-cell">
                        <span class="status-dot" [ngClass]="row.statusColor"></span>
                        {{ getStatusLabel(row.rec.status) }}
                    </td>
                    <td>{{ row.rec.date_reclamation | date:'short' }}</td>
                    <td>
                        <span class="material-symbols-rounded" (click)="viewDetails(row.rec.id)">expand_content</span>
                    </td>
                </tr>
            </tbody>
        </table>          

        <ng-template #noReclamations>
            <p>Pas de réclamations trouvées</p>
        </ng-template>

        <div *ngIf="selectedDetails" class="details-overlay" (click)="selectedDetails = null">
            <div class="details-box" (click)="$event.stopPropagation()">

                <h3>Reclamation ID: {{selectedDetails.id}}</h3>
                <strong>Objet: </strong>{{selectedDetails.objet}}
          <br>
          <strong>Contenu: </strong>{{selectedDetails.contenu}}
          
          <div *ngIf="selectedDetails.status === 'ACCEPTEE'">
            <strong>Status: </strong>Acceptée
          </div>

          <div *ngIf="selectedDetails.status === 'REFUSEE'">
            <strong>Status: </strong>Refusée
          </div>

          <div *ngIf="selectedDetails.status === 'NON_TRAITEE'">
            <strong>Status: </strong>En cours de traitement
          </div>
          
          <div *ngIf="selectedDetails.raison"><strong>Raison de refus: </strong>{{selectedDetails.raison}}</div>

          <div *ngIf="selectedDetails.agent"><strong>Traitée par agent: </strong>{{selectedDetails.agent}}</div>
          

                <div *ngFor="let file of selectedDetails.fichiers" class="file-box">

                    <span><strong>Fichier: </strong>{{file.fileName}}.{{file.fileType}}   </span>
                    <span (click)="downloadFile(file)" class="material-symbols-rounded">download</span>

                    <div *ngIf="file.ocrText"><strong>OCR Texte: </strong>{{file.ocrText}}</div>
                    <div *ngIf="file.valeurs && (file.valeurs | keyvalue).length > 0">
                        <span><strong>Valeurs: </strong></span>
                        <ul>
                            <li *ngFor="let v of file.valeurs | keyvalue">
                                {{v.key}}: {{v.value}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <footer>
        <p>&copy; 2025 e-Contribuable - Tous droits réservés.</p>
    </footer>

</div>