<div class="body">

    <header>
        <nav class="navbar">
            <span class="material-symbols-rounded menu-btn" (click)="toggleMenu()">notes</span>

            <div class="side-menu" [class.active]="menuOpen">

                <a routerLink="/page_admin" class="logo-full">
                    <img src="/images/logo.png" alt="logo">
                    <p>e-Contribuable</p>
                </a>
                
                <div>
                    <p>NAVIGATION</p>
                    <a routerLink="/page_admin" class="link selected">
                        <span class="material-symbols-rounded nav-btn">home</span>
                        <span>Accueil</span>
                    </a>
                </div>
                

                <div>
                    <p>RECLAMATIONS</p>
                    <a routerLink="/admin_rec" class="link">
                        <span class="material-symbols-rounded nav-btn">quick_reference</span>
                        <span>Réclamations fiscales</span>
                    </a>
                </div>
                

                <div>
                    <p>UTILISATEURS</p>

                    <a routerLink="/utilisateur" class="link">
                        <span class="material-symbols-rounded nav-btn">group</span>
                        <span>Contribuables inscrits</span>
                    </a>
                    
                    <a routerLink="/inscription" class="link">
                        <span class="material-symbols-rounded nav-btn">manage_accounts</span>
                        <span>Demandes d'inscription</span>
                    </a>
                </div>
                

                <div>
                    <p>CONVERSATIONS</p>
                    <a routerLink="/admin_chatbot" class="link">
                        <span class="material-symbols-rounded nav-btn">forum</span>
                        <span>Entre chatbot et utilisateurs</span>
                    </a>
                </div>
        
            </div>

            <div class="overlay" [class.active]="menuOpen" (click)="closeMenu()"></div>

            <a routerLink="/page_admin" class="logo">
                <img src="/images/logo.png" alt="logo">
                <p>e-Contribuable</p>
            </a>
            <div class="btn">
                <span class="material-symbols-rounded notif-btn" (click)="toggleNotifs()">notifications</span>
                <span class="material-symbols-rounded settings-btn" (click)="toggleSettings()">settings</span>
            </div>
            
            <div class="dropdown notifs" [class.active]="notifsOpen">

                <div *ngIf="notifications.length === 0 && notifications_read.length === 0" class="empty">
                    Aucune notification
                </div>

        <ul *ngIf="notifications.length > 0">
          <li *ngFor="let notif of notifications" (click)="markAsRead(notif)" class="not_unread">
            <div class="notif-content">{{ notif.content }}</div>
            <div class="notif-date">{{ notif.date | date:'short' }}</div>
          </li>
        </ul>

        <ul *ngIf="notifications_read.length > 0">
          <li *ngFor="let notif of notifications_read" (click)="markAsRead(notif)" class="not_read">
            <div class="notif-content">{{ notif.content }}</div>
            <div class="notif-date">{{ notif.date | date:'short' }}</div>
          </li>
        </ul>
            </div>

            <div class="dropdown settings" [class.active]="settingsOpen">
                <div class="user">
                    <p>{{this.displayName}}</p>
                </div>
                <div class="setting">
                    <div class="param" (click)="goProfile()">
                        <span class="material-symbols-rounded">account_circle</span>
                        <p>Profil</p>
                    </div>

                    <div class="param" (click)="logout()">
                        <span class="material-symbols-rounded logout-btn" (click)="logout()">logout</span>
                        <p>Se déconnecter</p>
                    </div>
                </div>                
            </div>

        </nav>
    </header>

    <div class="wrapper">

        <p>
            Navigation / <strong>Accueil</strong>
        </p>

        <section class="hero">
            <div class="titre">
                Bienvenue {{this.displayName}} sur le portail administrateur
            </div>
            <div class="sous-titre">
                Gérer les demandes d'incription, suiver les réclamations soumis par les contribuables ainsi que leurs interactions avec le chatbot
            </div>
        </section>

        <span>Concernant les utilisateurs</span>
        <section class="infos">
            <div class="sec">
                <div class="text">{{this.stats.nb_tot_user}} utilisateurs inscris</div>
                <div class="bar-container">
                    <div class="bar blue" style="width: 100%;"></div>
                </div>
            </div>
            <div class="sec">
                <div class="text">{{this.stats.nb_contribuable}} contibuables</div>
                <div class="bar-container">
                    <div class="bar red" [style.width.%]="contPercent"></div>
                </div>
            </div>

            <div class="sec">
                <div class="text">{{this.stats.nb_admin}} administrateurs</div>
                <div class="bar-container">
                    <div class="bar green" [style.width.%]="adminPercent"></div>
                </div>
            </div>

            <div class="sec">
                <div class="text">{{this.stats.nb_agent}} agents fiscaux</div>
                <div class="bar-container">
                    <div class="bar yellow" [style.width.%]="agentPercent"></div>
                </div>
            </div>
        </section>

        <span>Concernant les réclamations</span>
        <section class="infos">
            <div class="sec">
                <div class="text">{{this.stats.nb_rec}} réclamations soumises</div>
                <div class="bar-container">
                    <div class="bar blue" style="width: 100%;"></div>
                </div>
            </div>

            <div class="sec">
                <div class="text">{{this.stats.nb_rec_non_t}} réclamations non traitées</div>
                <div class="bar-container">
                    <div class="bar yellow" [style.width.%]="recnontPercent"></div>
                </div>
            </div>
        </section>

        <span>Concernant le chatbot</span>
        <section class="infos">
            <div class="sec">
                <div class="text">{{this.stats.nb_inter}} interactions avec chatbot</div>
                <div class="bar-container">
                    <div class="bar red" style="width: 100%;"></div>
                </div>
            </div>
        </section>

        <section class="contact">
            <div class="titre">
                Besoin d'aide?
            </div>
            <div class="sous-titre">
                Contactez notre support ou consultez la page FAQ.
            </div>
            <a routerLink="/contact" class="btn">Nous contacter</a>
        </section>
    </div>
    <footer>
        <p>&copy; 2025 e-Contribuable - Tous droits réservés.</p>
    </footer>
    

</div>