<div class="body">

    <header>
        <nav class="navbar">
            <span class="material-symbols-rounded menu-btn" (click)="toggleMenu()">notes</span>

            <div class="side-menu" [class.active]="menuOpen">

                <a routerLink="/page_agent" class="logo-full">
                    <img src="/images/logo.png" alt="logo">
                    <p>e-Contribuable</p>
                </a>
                
                <div>
                    <p>NAVIGATION</p>
                    <a routerLink="/page_agent" class="link">
                        <span class="material-symbols-rounded nav-btn">home</span>
                        <span>Accueil</span>
                    </a>
                    <a *ngIf="this.type === 'RESPONSABLE'" routerLink="/dashboard" class="link">
                        <span class="material-symbols-rounded nav-btn">dashboard</span>
                        <span>Dashboard</span>
                    </a>
                </div>
                

                <div>
                    <p>RECLAMATIONS</p>
                    <a routerLink="/agent_rec" class="link selected">
                        <span class="material-symbols-rounded nav-btn">quick_reference</span>
                        <span>Traiter des réclamations</span>
                    </a>
                </div>
                
        
            </div>

            <div class="overlay" [class.active]="menuOpen" (click)="closeMenu()"></div>

            <a routerLink="/page_agent" class="logo">
                <img src="/images/logo.png" alt="logo">
                <p>e-Contribuable</p>
            </a>
            <div class="btn">
                <span class="material-symbols-rounded notif-btn" (click)="toggleNotifs()">notifications</span>
                <span class="material-symbols-rounded settings-btn" (click)="toggleSettings()">settings</span>
            </div>
            
            <div class="dropdown notifs" [class.active]="notifsOpen">

                <div *ngIf="notifications.length === 0 && notifications_read.length === 0" class="empty">
                    Aucune notification
                </div>

                <ul *ngIf="notifications.length > 0">
                    <li *ngFor="let notif of notifications" (click)="markAsRead(notif)" class="not_unread">
                        <div class="notif-content">{{ notif.content }}</div>
                        <div class="notif-date">{{ notif.date | date:'short' }}</div>
                    </li>
                </ul>

                <ul *ngIf="notifications_read.length > 0">
                    <li *ngFor="let notif of notifications_read" (click)="markAsRead(notif)" class="not_read">
                        <div class="notif-content">{{ notif.content }}</div>
                        <div class="notif-date">{{ notif.date | date:'short' }}</div>
                    </li>
                </ul>
            </div>

            <div class="dropdown settings" [class.active]="settingsOpen">
                <div class="user">
                    <p>{{this.displayName}}</p>
                </div>
                <div class="setting">
                    <div class="param" (click)="goProfile()">
                        <span class="material-symbols-rounded">account_circle</span>
                        <p>Profil</p>
                    </div>

                    <div class="param" (click)="logout()">
                        <span class="material-symbols-rounded logout-btn" (click)="logout()">logout</span>
                        <p>Se déconnecter</p>
                    </div>
                </div>               
            </div>

        </nav>
    </header>

    <div class="error-container">
        <div *ngIf="errorVisible" class="error-message">
            {{ errorMessage }}
            <span class="close-btn" (click)="dismissErrorMessage()">&times;</span>
        </div>

        <div *ngIf="acceptVisible" class="approve-message">
            {{ acceptMessage }}
            <span class="close-btn" (click)="dismissAcceptMessage()">&times;</span>
        </div>
    </div>

    <div class="content-wrapper">

    <p>
        Réclamations / <strong>Traiter des réclamations</strong>
    </p>

    <table class="content-container" *ngIf="reclamations.length > 0; else noReclamations">
      
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Objet</th>
                <th>Status</th>
                <th>Date</th>
                <th>Détails</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let row of pendingRows">
                <td>{{ row.rec.id }}</td>
                <td *ngIf="row.rec.raison_sociale">{{row.rec.raison_sociale}}</td>
                <td *ngIf="row.rec.nom">{{row.rec.nom}} {{row.rec.prenom}}</td>
                <td>{{ row.rec.objet }}</td>
                <td class="status-cell">
                    <span class="status-dot" [ngClass]="row.statusColor"></span>
                    {{ getStatusLabel(row.rec.status) }}
                </td>
                <td>{{ row.rec.date_reclamation | date:'short' }}</td>
                <td>
                    <span class="material-symbols-rounded" (click)="viewDetails(row.rec.id)">expand_content</span>
                </td>
                <td class="buttons">
                    <button class="approve" (click)="approve(row.rec.id)">Accepter</button>
                    <button class="refuse" (click)="openRejectPopup(row.rec.id)">Refuser</button>
                </td>
            </tr>

            <div *ngIf="showPopup" class="popup-overlay">
                <div class="popup">
                    <h3>Raison du refus</h3>
                    <textarea [(ngModel)]="rejectionReason" rows="3" placeholder="Entrez la raison..."></textarea>
                    <div class="actions">
                        <button (click)="confirmRefuse()">Confirmer</button>
                        <button (click)="closePopup()">Annuler</button>
                    </div>
                </div>
            </div>

            <tr *ngFor="let row of treatedRows">
                <td>{{ row.rec.id }}</td>
                <td *ngIf="row.rec.raison_sociale">{{row.rec.raison_sociale}}</td>
                <td *ngIf="row.rec.nom">{{row.rec.nom}} {{row.rec.prenom}}</td>
                <td>{{ row.rec.objet }}</td>
                <td class="status-cell">
                    <span class="status-dot" [ngClass]="row.statusColor"></span>
                    {{ getStatusLabel(row.rec.status) }}
                </td>
                <td>{{ row.rec.date_reclamation | date:'short' }}</td>
                <td>
                    <span class="material-symbols-rounded" (click)="viewDetails(row.rec.id)">expand_content</span>
                </td>
            </tr>
        </tbody>

    </table>

    <ng-template #noReclamations>
        <p>Pas de réclamations trouvées</p>
    </ng-template>

    <div *ngIf="selectedDetails" class="details-overlay" (click)="selectedDetails = null">
        <div class="details-box" (click)="$event.stopPropagation()">
            <h3>Reclamation ID: {{selectedDetails.id}}</h3>

            <strong>Objet: </strong>{{selectedDetails.objet}}
          <br>
          <strong>Contenu: </strong>{{selectedDetails.contenu}}
          
          <div *ngIf="selectedDetails.status === 'ACCEPTEE'">
            <strong>Status: </strong>Acceptée
          </div>

          <div *ngIf="selectedDetails.status === 'REFUSEE'">
            <strong>Status: </strong>Refusée
          </div>

          <div *ngIf="selectedDetails.status === 'NON_TRAITEE'">
            <strong>Status: </strong>En cours de traitement
          </div>
          
          <div *ngIf="selectedDetails.raison"><strong>Raison de refus: </strong>{{selectedDetails.raison}}</div>

          <div *ngIf="selectedDetails.agent"><strong>Traitée par agent: </strong>{{selectedDetails.agent}}</div>
          
            <div *ngFor="let file of selectedDetails.fichiers" class="file-box">

                <span><strong>File: </strong>{{file.fileName}}.{{file.fileType}}   </span>
                <span (click)="downloadFile(file)" class="material-symbols-rounded">download</span>

                <div *ngIf="file.ocrText"><strong>OCR Texte: </strong>{{file.ocrText}}</div>
                <div *ngIf="file.valeurs && (file.valeurs | keyvalue).length > 0">
                    <div><strong>Valeurs: </strong></div>
                    <ul>
                        <li *ngFor="let v of file.valeurs | keyvalue">
                            {{v.key}}: {{v.value}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
    </div>

    <footer>
        <p>&copy; 2025 e-Contribuable - Tous droits réservés.</p>
    </footer>
    

</div>