@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
html, body {
  height: auto;
  overflow-y: auto;
}
header {
    background-color: #3F4D67;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 20px 10px;
    z-index: 1000;
}
.navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: -8px;
    margin: 0 auto;
}
.navbar .logo img {
    width: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navbar .logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.navbar .login {
    display: block;
    margin-right: 10px;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -5px;
    background: #04A9F5;
    transition: 0.2s ease;
    text-decoration: none;
}
.navbar .login:hover {
    background: #0787c2;
}

.wrapper{
    margin-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.hero {
  position: relative;
  background-color: #ffffff;
  padding: 50px 50px 50px;
  text-align: center;
  margin-top: -80px;
  margin-bottom: 50px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  animation: fadeSlide 1s ease-in-out both;
  z-index: 1;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .titre {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1DE9B6;
  margin-bottom: 20px;
}

.hero .sous-titre {
  font-size: 1.2rem;
  color: #748892;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

.features-slider {
  position: relative;
  margin: 50px auto;
  padding: 40px 30px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: 250px;
  text-align: center;
}
.slides-container{
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.features-slider .slide {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px 60px;
  text-align: center;
  box-sizing: border-box;
  color: #37474F;
}
.features-slider h3 {
  color: #04A9F5;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.features-slider .cta-btn {
  display: inline-block;
  margin-top: 20px;
  color: #3F4D67;
  font-size: 1rem;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}
.slider-controls button {
  pointer-events: auto;
  background-color: rgba(160, 188, 202, 0.7);
  border: none;
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.slider-controls button:hover {
  background-color: #748892;
}

.contact {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
  margin-top: 60px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.contact .titre {
  font-size: 2rem;
  font-weight: 600;
  color: #1DE9B6;
  margin-bottom: 15px;
}

.contact .sous-titre {
  font-size: 1.1rem;
  color: #37474F;
  margin-bottom: 25px;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact .btn {
  background-color: #04A9F5;
  color: #fff;
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.contact .btn:hover {
  background-color: #0482bd;
}


footer {
  color: #1f1f1f;
  text-align: center;
  padding: 10px;
  font-size: 0.95rem;
  margin-top: 50px;
}

footer p {
  margin: 0;
  letter-spacing: 0.5px;
}
